*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.transfer {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%), 0 10px 30px 0 rgb(0 0 0 / 20%);
    height: 25.625em;
    left: 5em;
    margin: -12.8125em 0 0;
    position: absolute;
    top: 50%;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    width: 17.5em;
    z-index: 30;
}

.transfer__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.progress {
    position: relative;
    /* margin:80px; */
    width: 100%;
    /* height: 21.125em; */
    height: 17.125em;
    justify-content: center;
    align-items: center;
    display: none;
    font-family: Actief Grotesque, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
}

.progress-number {
    font-size: 4em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-number::after {
    content: '%';
    font-size: 0.6em;
}

.transfer__loaded {
    display: none;
}

.transfer__loaded p {
    height: 4.125em;
    color: #484a4d;
    font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
    font-weight: 400;
    line-height: 1.61538em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.transfer__body {
    height: 21.125em;
    font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
}

.transfer__contents {
    height: 100%;
    /* left: 0; */
    /* margin: 0 -17px 0 0; */
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    /* padding: 0;
    position: absolute;
    right: 0;
    top: 0; */
}

.transfer__contents h2 {
    margin: 0 0 0.0625em;
    padding: 0 0.90909em;
    color: #17181a;

    font-size: 1.375em;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding: 0 0.45455em;
    text-align: center;
}

.transfer__contents p {
    font-size: .8125em;
    line-height: 1.38462em;
    padding: 0 1.53846em;
    text-align: center;
    font-weight: 400;
    margin: 0;
    color: #6a6d70;
}

.file-system-entry {
    margin: 0;
    padding: 0.5em 1.25em;
    border-bottom: 1px solid #e8ebed;
    position: relative;
    cursor: pointer;
}

.file-system-entry:hover {
    background-color: #f7f9fa;
}

.file-system-entry__title {
    color: #17181a;
    display: block;
    font-size: .975em;
    font-weight: 400;
    line-height: 1.42857em;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-system-entry__details {
    color: #6a6d70;
    display: block;
    font-size: .85em;
    font-weight: 400;
    line-height: 1.16667em;
    margin: 0;
}

.filelist__action {
    width: 3.125em;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 35%, #fff);
}

.filelist__action svg {
    fill: #409fff;
}

.filelist__action svg:hover {
    fill: #0073e5;
}


.file-system-entry:hover .filelist__action {
    background: linear-gradient(90deg, rgba(247, 249, 250, 0), #f7f9fa 35%, #f7f9fa) !important;
}

.filelist__action svg {
    height: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5em;
    right: 1.1em;
}

.file-system-entry__size::after {
    content: "\00B7";
    display: inline-block;
    padding-left: 0.3em;
    text-decoration: none;
}

.downloader__top-icon {
    height: 8.75em;
    width: 8.75em;
    display: block;
    margin: 0 auto 0.75em;

    padding-top: 1.875em;
}

.transfer__footer {
    border-top: 1px solid #d4d7d9;
    height: 4.5em;
    padding: 0 1.25em;
    position: relative;
    font-family: Actief Grotesque, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
}

.transfer__button {
    background: #409fff;
    border: 1px solid #409fff;
    border-radius: 1.25em;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    height: 2.5em;
    left: 50%;
    outline: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: border-color .2s cubic-bezier(.77, 0, .175, 1), background-color .2s cubic-bezier(.77, 0, .175, 1), color .2s cubic-bezier(.77, 0, .175, 1);
    width: 9.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transfer__button:hover {
    background-color: #0073e5;
    border-color: #0073e5;
}

.transfer__button--alt {
    display: none;
    background: transparent;
    border-color: #409fff;
    color: #409fff;
}

.transfer__button--alt:hover {
    background: rgb(253, 251, 251);
}

.panel {
    max-width: calc(100% - 31.25em);
    width: 55em;

    background: #fff;
    bottom: 0;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%), 0 10px 30px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(105%, 0, 0);
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    z-index: 37;
    font-family: Actief Grotesque, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
}

.panel--visible {
    transform: none;
    transition: all .5s cubic-bezier(.77, 0, .175, 1);
}

.panel__topbar {
    border-bottom: 1px solid #e8ebed;
    height: 3.75em;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 37;
}

.panel__close {
    background: 0;
    cursor: pointer;
    height: 1.5rem;
    left: 1rem;
    padding: 0;
    position: absolute;
    width: 1.5rem;


    border: 0;
    border-radius: 5px;
    font-size: .875em;
    font-weight: 500;
    margin-top: 1.28571em;
    text-decoration: none;
    transition: border-color .2s cubic-bezier(.77, 0, .175, 1), background-color .2s cubic-bezier(.77, 0, .175, 1), color .2s cubic-bezier(.77, 0, .175, 1);
}

.panel__close svg {
    fill: #babcbf;
}

.panel__close svg:hover {
    fill: #6a6d70;
}

.panel__container {
    height: calc(100% - 60px);
    transform: scale(1);
}

.panel__content {
    height: 100%;
    padding: 2.8125em 5em 6.5625em;
    position: relative;

    background-color: #f7f9fa;
    min-height: 100%;
    padding-bottom: 0;
    padding-top: 3.4375em;
    position: relative;
}


.preview {
    height: calc(100% - 180px);
    position: absolute;
    width: calc(100% - 160px);
}

.preview__container {
    height: 100%;
    width: 100%;
}

.preview__content {
    height: inherit;
}

.preview__item {
    height: 100%;
    position: relative;
    width: 100%;
}

.preview__image, .preview__video {
    height: 100%;
    position: relative;
    width: 100%;
    text-align: center;
}

.preview__image img, .preview__video video {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.preview__audio {
    background: #fff;
    height: 6.25em;
    padding: 1.5625em 1.25em;
    position: absolute;
    width: 100%;

    border: 0.0625em solid #e8ebed;
    border-radius: 0.1875em;
    left: 50%;
    max-width: 23.125em;
    top: 50%;
    transform: translate(-50%, -50%);
}

.preview__audio-player {
    position: relative;
    top: 50%;
}

.audio-player {
    position: relative;
    top: 50%;
}

.audio-player {
    user-select: none;
    width: 100%;
}

.audio-player__controls {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 3.75em;
}

.audio-player__playpause {
    border: 0.125em solid #17181a;
    border-radius: 100%;
    cursor: pointer;
    float: left;
    height: 3.75em;
    margin-right: 0.9375em;
    width: 3.75em;
}

.audio-player__playpause path {
    fill: #17181a;
}

.audio-player__playpause svg {
    height: 100%;
    width: 100%;
}

.audio-player__controls--slider {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 5em);
}

.audio-player__slider {
    border-radius: .0625em;
    cursor: pointer;
    float: left;
    margin-left: .625em;
    margin-right: .625em;
    position: relative;
    top: .375em;
    width: calc(100% - 4.375em);
}

.audio-player__slider--background {
    background-color: #d4d7d9;
    border-radius: inherit;
    height: .125em;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.audio-player__slider--progress {
    border-radius: inherit;
    height: 100%;
    pointer-events: none;
    position: absolute;
    transition: width .5s;
    width: 0;
    background-color: #409fff;
}


.audio-player__slider--pin {
    background-color: #409fff;
    border: .25em solid #409fff;
    border-radius: .375em;
    box-shadow: 0 .0625em .5em -.125em #000;
    height: .75em;
    pointer-events: all;
    position: absolute;
    right: 0;
    top: -.3125em;
    transition: width .5s;
    width: .75em;
}

.audio-player__time--right {
    float: right;
    text-align: right;
}

.audio-player__time {
    color: #17181a;

    font-size: .75em;
    font-weight: 400;
    width: 4.1625em;
}

.preview__bar {
    background-color: #fff;
    border-top: 1px solid #e8ebed;
    height: 4.375em;
    margin: 3.4375em -5em 0;
    padding: 0 2.5em;
}

.preview__meta {
    float: left;
    line-height: 1.25em;
    width: 70%;
}

.preview__title {
    color: #17181a;
    font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
    font-weight: 600;
    margin-top: .9375em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.preview__subtitle {
    color: #6a6d70;
    font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
    font-size: .75em;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.preview__button {
    float: right;
    height: 2.85714em;
    margin-top: .9375em;

    background: #409fff;
    color: #fff;
    cursor: pointer;

    border: 0;
    border-radius: 5px;
    font-size: .875em;
    font-weight: 500;
    padding: 0 1.28571em;
    position: relative;
    text-decoration: none;
    transition: border-color .2s cubic-bezier(.77, 0, .175, 1), background-color .2s cubic-bezier(.77, 0, .175, 1), color .2s cubic-bezier(.77, 0, .175, 1);
}

.preview__button:hover {
    background-color: #0073e5;
}

.downloader__complete {
    display: block;
    height: 10.625em;
    margin: 1.875em auto .75em;
    width: 10.625em;
}

.downloader__complete h2 {
    color: #17181a;
    font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
    font-size: 1.375em;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding: 0 .45455em;
    text-align: center;
}