*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --scale: 0.5625px;
}

ul {
    list-style-type: none;
}

.app {
    height: 100%;
    width: 100%;
    background-color: rgb(253, 251, 251);
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/1-1.jpg')
}

.transfer__body h2 {
    font-size: 1.375em;
    font-weight: 400;
    line-height: 1.2;
}

.transfer {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%), 0 10px 30px 0 rgb(0 0 0 / 20%);
    height: 25.625em;
    left: 5em;
    margin: -12.8125em 0 0;
    position: absolute;
    top: 50%;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    width: 17.5em;
    z-index: 30;
    font-family: Actief Grotesque, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
}

.transfer__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.transfer__tooltip {
    top: 280px;
    opacity: 0;
    position: absolute;
    right: -88%;
    background: #484a4d;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .1), 0 10px 30px 0 rgba(0, 0, 0, .2);
    color: #fff;
    font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
    font-size: .8125em;
    font-weight: 400;
    line-height: 1.4;
    max-width: 17.69231em;
    padding: 20px;
    z-index: 40;
}

.transfer__tooltip::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #484a4d;
    left: -4px;
    top: 43%;
    transform: rotate(45deg);
    border-radius: 1px;
}

.progress {
    position: relative;
    /* margin:80px; */
    width: 100%;
    height: 17.125em;
    /* height: 21.125em; */
    justify-content: center;
    align-items: center;
    display: none;
    /* display: flex; */
    font-family: Actief Grotesque, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
}

.progress-number {
    font-size: 4em;
    position: absolute;
}

.transfer__loaded {
    display: none;
}

.transfer__loaded p {
    height: 4.125em;
    color: #484a4d;
    font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
    font-weight: 400;
    line-height: 1.61538em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.transfer__body {
    position: relative;
    height: 21.125em;
    width: 100%;
    /* display: none; */
}

.uploader__files {
    height: 100%;
    padding: 20px;
}

.uploader__files-content {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed;
    border-color: #d9dcde;
    border-radius: 12px;
    transition: .5s;
}

.uploader__files-content:hover {
    border-color: #409fff;
}

.uploader__files:hover svg {
    fill: #0073e5;
}

.uploader__files svg {
    display: block;
    height: 2.25em;
    position: absolute;
    top: 5.8em;
    transition: all .4s cubic-bezier(.77, 0, .175, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.25em;
    fill: #409fff;
}

#file-input {
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.transfer__footer {
    border-top: 1px solid #d4d7d9;
    height: 4.5em;
    padding: 0 1.25em;
    position: relative;
}

.transfer .transfer__button-container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 11.875em;
}

.transfer__button {
    background: #409fff;
    border: 1px solid #409fff;
    border-radius: 1.25em;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    height: 2.5em;
    left: 50%;
    outline: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: border-color .2s cubic-bezier(.77, 0, .175, 1), background-color .2s cubic-bezier(.77, 0, .175, 1), color .2s cubic-bezier(.77, 0, .175, 1);
    width: 9.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transfer__button[disabled], .transfer__button:disabled, .transfer__button[disabled]:hover, .transfer__button:disabled:hover {
    background: #babcbf;
    border-color: #babcbf;
    cursor: default;
}

.copy__link {
    display: none;
}

.transfer__button:hover {
    background-color: #0073e5;
    border-color: #0073e5;
}

.transfer__button--alt {
    display: none;
    background: transparent;
    border-color: #409fff;
    color: #409fff;
}

.transfer__button--alt:hover {
    background: rgb(253, 251, 251);
}

.transfer .transfer__button--cancel {
    width: 5.625em;
}

.transfer__contents {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    display: none;
}

.illustration {
    display: block;
    margin: 1.875em auto 0.75em;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 10.625rem;
    opacity: 1;
    transition: opacity .1s ease-out;
    width: 10.625rem;
}

.complete__text {
    color: #484a4d;
    font-size: .875em;
    line-height: 1.28571em;
    margin: 0 0 0.92857em;
    padding: 0 0.8px;
    text-align: center;
}

.complete__text a {
    color: #409fff;
    font-size: 1em;
    display: inline-block;
}

.transfer-link {
    position: relative;
    transition: all .4s;
    height: 2.625em;
}

.transfer-link__url-wrapper {
    background-color: #fff;
    border: 1px solid #babcbf;
    border-radius: 5px;
    bottom: 0;

    font-weight: 500;
    height: 2.625em;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: right;
    transition: inherit;
    white-space: nowrap;
}

.transfer-link__url {
    border: 0;
    color: #484a4d;
    direction: rtl;
    font-size: .875em;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0 1em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: inherit;
    width: 100%;
}

.panel {
    max-width: calc(100% - 31.25em);
    width: 55em;

    background: #fff;
    bottom: 0;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%), 0 10px 30px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(105%, 0, 0);
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    z-index: 37;
    font-family: Actief Grotesque, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
}

.panel--visible {
    transform: none;
    transition: all .5s cubic-bezier(.77, 0, .175, 1);
}

.panel__topbar {
    border-bottom: 1px solid #e8ebed;
    height: 3.75em;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 37;
}

.panel__close {
    background: 0;
    cursor: pointer;
    height: 1.5rem;
    left: 1rem;
    padding: 0;
    position: absolute;
    width: 1.5rem;


    border: 0;
    border-radius: 5px;
    font-size: .875em;
    font-weight: 500;
    margin-top: 1.28571em;
    text-decoration: none;
    transition: border-color .2s cubic-bezier(.77, 0, .175, 1), background-color .2s cubic-bezier(.77, 0, .175, 1), color .2s cubic-bezier(.77, 0, .175, 1);
}

.panel__close svg {
    fill: #babcbf;
}

.panel__close svg:hover {
    fill: #6a6d70;
}

.panel__container {
    height: calc(100% - 60px);
    transform: scale(1);
}

.panel__content {

    height: 100%;
    padding: 2.8125em 5em 6.5625em;
    position: relative;
}

.panel__content h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
}

.details {}

.metadata__container {
    border-bottom: 0.0625em solid #e8ebed;
    margin-bottom: 1.5625em;
    margin-top: 0.5em;
    color: #6a6d70;
    display: block;
    font-size: .875em;
    font-weight: 400;
}

.metadata {
    align-items: center;
    display: flex;
    margin-bottom: 1.5625rem;
}

.metadata>:not(:last-child):after {
    content: "\00B7";
    display: inline-block;
    padding: 0 0.375em;
    text-decoration: none;
}

.details__row {
    display: flex;
}

.details__col {
    margin-right: 8%;
    width: 46%;
    /* padding: 0 1em; */
}

.displayName {
    /* margin-top: 2.1875rem; */
}

.displayName__header {
    font: normal 500 1rem/1.1875rem Actief Grotesque, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
    margin-bottom: 0.9375rem;
}

.displayName__body {
    color: #484a4d;
    font: normal 400 0.875rem/1.25rem Actief Grotesque, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
    line-height: 1.4;
}

.details__filelist {
    width: 100%;
}

.details__subtitle {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.9375em;
}

.filelist {
    font-size: 1.14286em;
}

.file-system-entry {
    font-size: .875em;
    font-weight: 400;
    margin: 0;
    padding: 0.57143em 0;
    position: relative;
    border-bottom: 1px solid #e8ebed;
    user-select: none;
}

.file-system-entry__title {
    color: #17181a;
    display: block;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.42857em;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-system-entry__details {
    color: #6a6d70;
    display: block;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.16667em;
    margin: 0;
}

.file-system-entry__size::after {
    content: "\00B7";
    display: inline-block;
    padding-left: 0.3em;
    text-decoration: none;
}

.title {
    font-family: GT Super WT, "ui-serif", "Georgia", "Cambria", "Times New Roman", "Times", "serif";
    height: max-content;
    text-align: center;
    color: black;
    position: absolute;
    top: 20%;
    left: 35%;
}

.title__container {
    margin: 0 auto;
    width: 100%;
    font-size: 5vw;
}
.title-anim__container{
    text-align: left;
}
.title-anim-word{
    font-weight: 600;
}
.title-left-word{

}

.title-h1 {
    /* font-size: 5rem; */
    font-size: 5vw;
    text-shadow: 1px 1px 2px #feefdb;
    /* user-select: none; */
    font-weight: 400;
    /* max-width: min-content; */
    max-width: 656px;
}